.div-top {
	background-color: #949e41;
	margin-bottom: auto;
	color: #ffffff;
	margin-top: auto;
	text-align: center;
	/* border-style: double; */
	width: 79.6%;
	font-size: -webkit-xxx-large;
}